/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.woff2") format("woff2");
  font-display: swap;
  font-weight: 400 700;
  -webkit-font-feature-settings: "clig" off, "liga" off;
  font-feature-settings: "clig" off, "liga" off;
}
html {
  font-size: 16px;
}

body {
  background: #fff;
  font-family: "Inter", sans-serif;
  color: #282828;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.3;
}
@media screen and (max-width: 767.98px) {
  body {
    font-size: 1.25rem;
  }
}

.container {
  max-width: 77rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.9375rem;
}
@media screen and (max-width: 767.98px) {
  .container {
    padding: 0 2.25rem;
  }
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 4.125rem;
}
@media screen and (max-width: 767.98px) {
  .container-fluid {
    padding: 0 1.25rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 0px 1fr 0px auto;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
}

.content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.content > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.content > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  letter-spacing: 0.5px;
  letter-spacing: 0;
}

.main {
  overflow-x: hidden;
}

h2 {
  color: #0e4128;
}

.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 0px auto;
  grid-template-rows: 1fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
}

.home > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.home > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.home .main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 0px auto;
  grid-template-rows: 1fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.home .main > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.home .main > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.home .main__items {
  position: relative;
  display: flex;
}
.home .main__items:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 55%;
  background-image: url("../images/pulse.png");
  background-repeat: no-repeat;
  background-size: contain;
}
@supports (background-image: url("../images/pulse.webp")) {
  .home .main__items:after {
    background-image: url("../images/pulse.webp");
  }
}
@media screen and (max-width: 991.98px) {
  .home .main__items:after {
    display: none;
  }
}
.home .main__items .item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 50%;
  min-height: 45vw;
  padding: 4.5rem 4.125rem;
  background: linear-gradient(176deg, rgba(255, 255, 255, 0.1) 10.56%, rgba(255, 255, 255, 0) 71.76%), #0d5a34;
  color: #fff;
}
.home .main__items .item__title {
  position: relative;
  z-index: 2;
}
.home .main__items .item__title h2 {
  font-weight: 700;
  font-size: 4.125rem;
  line-height: 1.1;
  text-transform: uppercase;
}
.home .main__items .item__text {
  position: relative;
  z-index: 2;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.3;
}
.home .main__items .item > a {
  position: relative;
  z-index: 1;
}
.home .main__items .item__picture {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 70%;
  z-index: 1;
}
.home .main__items .item__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: bottom right;
  object-position: bottom right;
}
.home .main__items .item:first-child h2 {
  color: #fff;
}
.home .main__items .item:last-child {
  padding: 4.5rem 5.375rem;
  background: linear-gradient(176deg, rgba(255, 255, 255, 0.5) 10.56%, rgba(255, 255, 255, 0) 71.76%), #c8ec1d;
  color: #0e4128;
}
.home .main__items .item:last-child .item__picture img {
  -o-object-position: bottom;
  object-position: bottom;
}
.home .main__items .item:last-child:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/heart-half.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 50%;
}
@supports (background-image: url("../images/heart-half.webp")) {
  .home .main__items .item:last-child:before {
    background-image: url("../images/heart-half.webp");
  }
}
@media screen and (max-width: 991.98px) {
  .home .main__items {
    flex-direction: column;
  }
  .home .main__items .item {
    position: relative;
    width: 100%;
    min-height: 45.625rem;
    padding: 2.625rem 2.25rem;
  }
  .home .main__items .item__title h2 {
    font-size: 2.75rem;
  }
  .home .main__items .item__picture {
    width: 70%;
  }
  .home .main__items .item:last-child {
    padding: 2.625rem 2.25rem;
  }
  .home .main__items .item:last-child .item__picture img {
    -o-object-position: bottom right;
    object-position: bottom right;
  }
  .home .main__items .item:last-child:before {
    background-image: url("../images/heart-full.png");
    background-position: center right;
    background-size: 100%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  @supports (background-image: url("../images/heart-full.webp")) {
    .home .main__items .item:last-child:before {
      background-image: url("../images/heart-full.webp");
    }
  }
  .home .main__items .item:last-child:after {
    background-size: 250%;
    background-position: 65% 85%;
  }
  .home .main__items .item:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/pulse.png");
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 20% 85%;
  }
  @supports (background-image: url("../images/pulse.webp")) {
    .home .main__items .item:after {
      background-image: url("../images/pulse.webp");
    }
  }
}
.home .main__bottom {
  padding: 5.1875rem 0 5.625rem;
  background: #fff;
}
.home .main__bottom h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
  color: #0e4128;
}
.home .main__bottom .item {
  display: flex;
  align-items: center;
}
.home .main__bottom .item__block {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2.75rem;
}
@media screen and (max-width: 991.98px) {
  .home .main__bottom {
    padding: 3.875rem 0 4.0625rem;
  }
  .home .main__bottom h1 {
    font-size: 2.125rem;
  }
  .home .main__bottom .item {
    flex-direction: column;
    gap: 2.75rem;
  }
  .home .main__bottom .item__block {
    flex-direction: column;
    align-items: flex-start;
  }
}

.xsn .section--hero {
  background: linear-gradient(176deg, rgba(255, 255, 255, 0.5) 10.56%, rgba(255, 255, 255, 0) 71.76%), #c8ec1d;
}
.xsn .section--hero__text {
  padding-bottom: 9.375rem;
  color: #0e4128;
}
.xsn .section--video {
  padding-bottom: 5.625rem;
}
.xsn .section--video .container {
  align-items: center;
}
.xsn .section--notice .notice__title {
  flex: 0 1 55%;
  display: flex;
  gap: 1.6875rem;
}
@media screen and (max-width: 991.98px) {
  .xsn .section--notice .notice__title {
    gap: 1.25rem;
  }
  .xsn .section--notice .notice__title h2 {
    font-size: clamp(2.5rem, 5vw, 3.125rem);
  }
}
.xsn .section--notice .notice__text {
  padding-top: 0.625rem;
  font-size: 1.5rem;
}
.xsn .header__nav__menu li a {
  color: #0e4128;
}

.therapy .header__nav__menu li a {
  color: #0e4128;
}
.therapy .section--hero {
  background: linear-gradient(176deg, rgba(255, 255, 255, 0.5) 10.56%, rgba(255, 255, 255, 0) 71.76%), #c8ec1d;
}
.therapy .section--hero__text {
  position: relative;
  padding: 11rem 0 6.25rem;
  color: #0e4128;
  z-index: 5;
}
.therapy .section--hero__picture {
  right: 7.5rem;
  height: 70%;
}
.therapy .section--hero h1 {
  font-size: 3.125rem;
  letter-spacing: 0;
}
.therapy .section--hero:before, .therapy .section--hero:after {
  display: none;
}
.therapy .section--notice .notice__title {
  flex: 0 1 55%;
  display: flex;
  gap: 1.6875rem;
}
@media screen and (max-width: 991.98px) {
  .therapy .section--notice .notice__title {
    gap: 1.25rem;
  }
  .therapy .section--notice .notice__title h2 {
    font-size: clamp(2.5rem, 5vw, 3.125rem);
  }
}
.therapy .section--notice .notice__text {
  padding-top: 0.625rem;
  font-size: 1.5rem;
}
.therapy .section--subscribe .subscribe__content {
  background: #2bacee;
  color: #fff;
}
.therapy .section--subscribe .subscribe__content .button {
  border-color: #fff;
  color: #fff;
}

.orvi .header__nav__menu li a {
  color: #0e4128;
}
.orvi .section--hero {
  color: #0e4128;
  background: none;
  background-image: url("../images/hero-1.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}
.orvi .section--hero:before {
  left: 0;
  right: auto;
  width: 65%;
  height: 100%;
  -webkit-transform: none;
  transform: none;
  background-image: url("../images/orvi-1.png");
  background-size: cover;
  background-position: left top;
}
.orvi .section--hero:after {
  display: none;
}
.orvi .section--hero h1 {
  font-size: 3.125rem;
}
.orvi .section--hero__text {
  padding: 10.625rem 0 8.4375rem;
}
@media screen and (max-width: 1200px) {
  .orvi .section--hero {
    background-size: cover;
  }
  .orvi .section--hero:before {
    display: none;
  }
}
@media screen and (max-width: 991.98px) {
  .orvi .section--hero h1 {
    font-size: clamp(2.5rem, 5vw, 3.125rem);
  }
}
.orvi .section--subscribe {
  padding: 3.75rem 0;
}
.orvi .section--subscribe .subscribe__content {
  background: #2bacee;
  color: #fff;
}
.orvi .section--subscribe .subscribe__content .button {
  border-color: #fff;
  color: #fff;
}
.orvi .section--appointment .container {
  max-width: 51.25rem;
}

.footer {
  padding: 3.125rem 0 10rem;
  background: #2e2e2e;
}
.footer .container,
.footer .container-fluid {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}
.footer .container {
  gap: 3.625rem;
}
.footer__top {
  display: flex;
  justify-content: space-between;
}
.footer__top .item {
  font-size: 1.125rem;
  color: #fff;
  opacity: 0.5;
}
.footer__top .item:first-child {
  opacity: 1;
  font-size: 1.9375rem;
  line-height: 1;
}
.footer__top .item:first-child > p:first-child {
  font-size: 2.625rem;
  opacity: 0.7;
  line-height: normal;
}
.footer__top .item:last-child {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 20.125rem;
  text-align: right;
}
.footer__bottom {
  font-size: 0.875rem;
  line-height: 1.6;
  color: #fff;
  opacity: 0.5;
}
.footer__bottom__link {
  color: inherit;
  text-decoration: underline;
}
@media screen and (max-width: 991.98px) {
  .footer {
    padding: 2.5rem 0 5rem;
  }
  .footer .container-fluid {
    gap: 3.5rem;
  }
  .footer__top {
    flex-direction: column;
    gap: 1.375rem;
  }
  .footer__top .item:last-child {
    max-width: 100%;
    text-align: initial;
  }
}

.header {
  position: absolute;
  top: 0.875rem;
  left: 0;
  width: 100%;
  z-index: 10;
}
@media screen and (max-width: 991.98px) {
  .header {
    top: 0;
    padding: 0.875rem 0;
    background: rgba(11, 61, 37, 0.15);
  }
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}
.header__nav__menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header__nav__menu li a {
  font-size: 1rem;
  line-height: normal;
  color: #fff;
}
.header__nav__menu li a.active {
  opacity: 0.5;
}
@media screen and (max-width: 991.98px) {
  .header__nav__menu {
    display: none;
  }
}
.header__burger {
  all: unset;
  display: none;
  flex-direction: column;
  gap: 0.1875rem;
  width: 2.375rem;
}
.header__burger span {
  width: 100%;
  height: 0.375rem;
  border-radius: 2px;
  background: #00b922;
  transition: all 0.3s ease;
}
@media screen and (max-width: 991.98px) {
  .header__burger {
    display: flex;
  }
}
.header--active {
  position: relative;
}
.header--active .header__burger {
  position: relative;
  z-index: 10;
}
.header--active .header__burger span {
  background: #fff;
}
.header--active .header__burger span:first-child {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: translate(0%, 10%) rotate(45deg);
  transform: translate(0%, 10%) rotate(45deg);
}
.header--active .header__burger span:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.header--active .header__burger span:last-child {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translate(0%, 120%) rotate(-45deg);
  transform: translate(0%, 120%) rotate(-45deg);
}
.header--active .header__nav__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #00b922;
  padding: 6.25rem 1.25rem;
  display: flex;
  flex-direction: column;
}

.section--hero {
  position: relative;
  background: linear-gradient(176deg, rgba(255, 255, 255, 0.1) 10.56%, rgba(255, 255, 255, 0) 71.76%), #0d5a34;
  color: #fff;
}
.section--hero:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: 98% 63%;
  background-size: 70% 50%;
}
@supports (background-image: url("../images/hero-bg.webp")) {
  .section--hero:before {
    background-image: url("../images/hero-bg.webp");
  }
}
.section--hero:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/heart-full.png");
  background-position: 82% 100%;
  background-repeat: no-repeat;
  background-size: 28%;
  z-index: 1;
}
@supports (background-image: url("../images/heart-full.webp")) {
  .section--hero:after {
    background-image: url("../images/heart-full.webp");
  }
}
.section--hero .container {
  position: relative;
  z-index: 2;
}
.section--hero__text {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 11.5625rem 0 7.375rem;
  font-weight: 500;
}
.section--hero__text h1 {
  font-size: 5.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}
.section--hero__picture {
  position: absolute;
  right: 50px;
  bottom: 0;
  width: 75%;
  height: 85%;
  z-index: 1;
}
.section--hero__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: bottom right;
  object-position: bottom right;
}
@media screen and (max-width: 991.98px) {
  .section--hero:before {
    background-position: left 15%;
    background-size: contain;
  }
  .section--hero:after {
    background-position: right 15%;
    background-size: 60%;
  }
  .section--hero__text {
    position: relative;
    z-index: 5;
    padding: 11.5625rem 0 7.375rem;
  }
  .section--hero__text h1 {
    font-size: 3.375rem;
  }
  .section--hero__picture {
    right: 0;
    height: 60vw;
  }
}
.section--video {
  padding: 7rem 0;
  background: #f2f2f2;
}
.section--video .container {
  display: flex;
  gap: 3.75rem;
}
.section--video .container > * {
  flex: 1;
}
.section--video .video__link {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
}
.section--video .video__link > img {
  border-radius: 24px;
}
.section--video .video__link__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.section--video .video__text {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 0.875rem 0;
}
.section--video .video__text h2 {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
}
@media screen and (max-width: 991.98px) {
  .section--video {
    padding: 4rem 0;
  }
  .section--video .container {
    flex-direction: column-reverse;
  }
  .section--video .video__link img:not(.video__link__icon) {
    width: 100%;
    max-height: 18.125rem;
  }
  .section--video .video__text {
    padding: 0;
  }
  .section--video .video__text h2 {
    font-size: 2.8125rem;
  }
}
.section--simptoms {
  padding: 5.625rem 0 5.25rem;
}
.section--simptoms .container {
  display: flex;
  flex-direction: column;
  gap: 4.1875rem;
}
.section--simptoms .simptoms__header {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.section--simptoms .simptoms__header h2 {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
}
.section--simptoms .simptoms__header > p {
  max-width: 30.3125rem;
}
.section--simptoms .simptoms__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3.125rem 1fr 3.125rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.125rem;
}
.section--simptoms .simptoms__items__item {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
  padding: 1.3125rem 2.1875rem 1.25rem 1.4375rem;
  border-radius: 24px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  font-size: 1rem;
}
.section--simptoms .simptoms__items__item__text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13.625rem;
}
.section--simptoms .simptoms__items__item__text > p {
  opacity: 0;
  visibility: hidden;
}
.section--simptoms .simptoms__items__item__text > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@-webkit-keyframes hideIcon {
  from {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(-50%, -100%) scale(0);
    transform: translate(-50%, -100%) scale(0);
  }
}
@keyframes hideIcon {
  from {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(-50%, -100%) scale(0);
    transform: translate(-50%, -100%) scale(0);
  }
}
@-webkit-keyframes showText {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes showText {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.section--simptoms .simptoms__items__item__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-top: auto;
}
.section--simptoms .simptoms__items__item__toggle p {
  flex: 1;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.1;
  color: #262d3f;
}
.section--simptoms .simptoms__items__item:hover {
  background: #f2f2f2;
}
.section--simptoms .simptoms__items__item:hover .simptoms__items__item__text {
  justify-content: flex-start;
  align-items: flex-start;
}
.section--simptoms .simptoms__items__item:hover .simptoms__items__item__text > p {
  -webkit-animation: showText 0.3s forwards 0.2s;
  animation: showText 0.3s forwards 0.2s;
  display: block;
}
.section--simptoms .simptoms__items__item:hover .simptoms__items__item__text > img {
  -webkit-animation: hideIcon 0.5s forwards;
  animation: hideIcon 0.5s forwards;
}
.section--simptoms .simptoms__items__item:has(.simptoms__items__item__toggle input:checked) {
  position: relative;
  background: #c8ec1d;
}
.section--simptoms .simptoms__items__item:has(.simptoms__items__item__toggle input:checked) .simptoms__items__item__text {
  justify-content: flex-start;
  align-items: flex-start;
}
.section--simptoms .simptoms__items__item:has(.simptoms__items__item__toggle input:checked) .simptoms__items__item__text > p {
  opacity: 1;
  visibility: visible;
}
.section--simptoms .simptoms__items__item:has(.simptoms__items__item__toggle input:checked) .simptoms__items__item__text > img {
  display: none;
}
.section--simptoms .simptoms__items__item:has(.simptoms__items__item__toggle input:checked):after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 16px 0 16px;
  border-color: #c8ec1d transparent transparent transparent;
  -webkit-transform: rotate(0deg) translateX(-50%);
  transform: rotate(0deg) translateX(-50%);
}
@media screen and (max-width: 991.98px) {
  .section--simptoms {
    padding: 3.875rem 0;
  }
  .section--simptoms .container {
    gap: 3.125rem;
  }
  .section--simptoms .simptoms__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
  }
  .section--simptoms .simptoms__header h2 {
    font-size: 2.8125rem;
  }
  .section--simptoms .simptoms__header > p {
    max-width: none;
  }
  .section--simptoms .simptoms__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5625rem;
  }
  .section--simptoms .simptoms__items__item {
    flex-direction: column;
  }
  .section--simptoms .simptoms__items__item__toggle {
    gap: 1.25rem;
  }
}
.section--appointment {
  padding: 3.625rem 0 1.625rem;
  background: #c8ec1d;
}
.section--appointment .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 49.375rem;
}
.section--appointment .container:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
  height: 100%;
  background-image: url("../images/pulse-small.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 50%;
  -webkit-transform: translate(30%, -50%);
  transform: translate(30%, -50%);
}
@supports (background-image: url("../images/pulse-small.webp")) {
  .section--appointment .container:after {
    background-image: url("../images/pulse-small.webp");
  }
}
.section--appointment .appointment__list, .section--appointment .appointment__text {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #0e4128;
  z-index: 1;
}
.section--appointment .appointment__list {
  margin-bottom: 1.25rem;
}
.section--appointment .appointment__text {
  margin-bottom: 3.75rem;
}
.section--appointment .appointment__button {
  position: relative;
  margin-bottom: 2.5rem;
  padding: 1.375rem 5.625rem;
  font-size: 1.75rem;
  border-radius: 25px;
  box-shadow: 0px 2px 8.9px 0px rgba(25, 71, 84, 0.33);
  z-index: 1;
}
.section--appointment .appointment__small {
  position: relative;
  opacity: 0.8;
  z-index: 1;
}
@media screen and (max-width: 991.98px) {
  .section--appointment .appointment__list, .section--appointment .appointment__text {
    padding: 0 5vw;
  }
  .section--appointment .appointment__button {
    width: 100%;
    padding: 1.125rem 1.375rem;
    font-size: 1.25rem;
  }
}
.section--dangerous {
  padding: 8.125rem 0 0;
}
.section--dangerous h2 {
  padding-bottom: 3.5rem;
  border-bottom: 1px solid #909090;
  font-size: 3.125rem;
  line-height: 700;
  line-height: 1.1;
  letter-spacing: 0;
  text-transform: uppercase;
}
.section--dangerous .dangerous__items {
  display: flex;
  gap: 3.75rem;
  margin-bottom: 2.25rem;
}
.section--dangerous .dangerous__items__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 1.25rem;
  color: #667683;
  line-height: 1.5;
}
.section--dangerous .dangerous__items__item h3 {
  font-size: 4rem;
  line-height: 1.4;
  font-weight: 500;
  color: #000;
}
.section--dangerous .dangerous__items__item strong {
  color: #000;
}
.section--dangerous .dangerous__items__item:first-child p {
  max-width: 27.5rem;
}
.section--dangerous .dangerous__items__item:last-child p {
  max-width: 22.5rem;
}
@media screen and (max-width: 991.98px) {
  .section--dangerous {
    padding: 3.875rem 0;
  }
  .section--dangerous h2 {
    padding-bottom: 2.5rem;
    font-size: 2.8125rem;
  }
  .section--dangerous .dangerous__items {
    flex-direction: column;
    gap: 2.5rem;
  }
  .section--dangerous .dangerous__items__item {
    padding-top: 1.25rem;
  }
  .section--dangerous .dangerous__items__item h3 {
    font-size: 3.125rem;
  }
  .section--dangerous .dangerous__items__item:first-child p {
    max-width: none;
  }
  .section--dangerous .dangerous__items__item:last-child p {
    max-width: none;
  }
}
.section--notice {
  padding: 6.5625rem 0 5.375rem;
}
.section--notice .container {
  display: flex;
  gap: 4.375rem;
}
.section--notice .notice__title {
  flex: 0 1 40%;
}
.section--notice .notice__title h2 {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0;
}
.section--notice .notice__text {
  flex: 0 1 60%;
}
@media screen and (max-width: 991.98px) {
  .section--notice {
    padding: 3.875rem 0;
  }
  .section--notice .container {
    flex-direction: column;
    gap: 3.125rem;
  }
}
.section--details {
  padding: 5.625rem 0 4.375rem;
}
.section--details details {
  padding: 1.9375rem 1.875rem 1.9375rem 1.3125rem;
  border-radius: 20px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.58) 79.5%), #dfdfdf;
}
.section--details details summary {
  font-size: 1.375rem;
  color: #000;
  line-height: 1.3;
  font-weight: 600;
  list-style: none;
  background: url("../images/icons/arrow-down.svg") no-repeat center right;
  background-size: 1.875rem;
  cursor: pointer;
}
.section--details details summary::-webkit-details-marker {
  display: none;
}
.section--details details ol {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
  list-style-type: auto;
  padding: 0 3.125rem 0 1.875rem;
  word-break: break-word;
}
.section--details details ol li {
  list-style-type: inherit;
}
.section--details details[open] summary {
  background: url("../images/icons/arrow-up.svg") no-repeat center right;
  background-size: 1.875rem;
}
@media screen and (max-width: 991.98px) {
  .section--details {
    padding: 3.875rem 0;
  }
}
.section--diary {
  position: relative;
  margin-top: 5.625rem;
  padding: 5.8125rem 0 6rem;
  background-color: #c8ec1d;
}
.section--diary:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 75%;
  background-image: url("../images/diary.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 76% bottom;
}
@supports (background-image: url("../images/diary.webp")) {
  .section--diary:after {
    background-image: url("../images/diary.webp");
  }
}
.section--diary .container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.75rem;
}
.section--diary .container h2 {
  font-size: 3.125rem;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
}
.section--diary .container p {
  max-width: 38.125rem;
  margin-bottom: 1.3125rem;
  font-size: 1.25rem;
}
.section--diary .container .button {
  padding: 1rem 6.6875rem;
  font-size: 1.75rem;
}
@media screen and (max-width: 991.98px) {
  .section--diary .container h2 {
    font-size: clamp(1.75rem, 7vw, 3.125rem);
  }
  .section--diary .container p {
    max-width: none;
  }
  .section--diary .container .button {
    padding: 1rem 1.375rem;
    font-size: 1.375rem;
  }
}
@media screen and (max-width: 991.98px) {
  .section--diary {
    margin-top: 3.875rem;
    padding: 3.875rem 0;
  }
  .section--diary:after {
    height: 55%;
    background-size: contain;
    background-position: right bottom;
  }
}
.section--articles {
  padding: 5rem 0 5.625rem;
}
.section--articles .articles__items {
  display: flex;
  gap: 2.8125rem;
}
.section--articles .articles__items__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.3125rem 1.25rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  font-size: 1.25rem;
}
.section--articles .articles__items__item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.75rem;
  margin-bottom: 0.5rem;
}
.section--articles .articles__items__item__icon img {
  width: 5.5rem;
  height: 5.5rem;
}
.section--articles .articles__items__item h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}
.section--articles .articles__items__item > p {
  margin-bottom: 0.9375rem;
}
.section--articles .articles__items__item > a {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: auto;
  font-size: 1.25rem;
  font-weight: 600;
  color: #00b922;
}
@media screen and (max-width: 991.98px) {
  .section--articles {
    padding: 3.875rem 0;
  }
  .section--articles .articles__items {
    flex-direction: column;
    gap: 1.5625rem;
  }
  .section--articles .articles__items__item {
    font-size: 1.125rem;
  }
  .section--articles .articles__items__item__icon {
    padding: 1.875rem;
  }
  .section--articles .articles__items__item__icon img {
    width: 3.75rem;
    height: 3.75rem;
  }
  .section--articles .articles__items__item h4 {
    font-size: 1.25rem;
  }
  .section--articles .articles__items__item > p {
    margin-bottom: 0.625rem;
  }
  .section--articles .articles__items__item > a {
    gap: 0.625rem;
    font-size: 1.125rem;
  }
}
.section--subscribe .subscribe__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.125rem;
  padding: 1.625rem 2.8125rem 1.6875rem 2.3125rem;
  border-radius: 20px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.58) 79.5%), #dfdfdf;
  color: #333;
  font-weight: 600;
}
.section--subscribe .subscribe__content > * {
  position: relative;
  z-index: 1;
}
.section--subscribe .subscribe__content:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 50%;
  height: calc(100% + 60px);
  background-image: url("../images/tg.png");
  background-repeat: no-repeat;
  background-position: 28%;
  background-size: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 991.98px) {
  .section--subscribe .subscribe__content {
    padding: 1.25rem 1.875rem 1.25rem 1.5625rem;
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 767.98px) {
  .section--subscribe .subscribe__content {
    flex-direction: column;
    align-items: flex-start;
  }
}
.section--points {
  padding-bottom: 8.4375rem;
}
.section--points .points__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.25rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 5.9375rem 1.25rem;
}
.section--points .points__items__item {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  padding: 0.625rem 2.1875rem;
  font-size: 1.25rem;
}
.section--points .points__items__item img {
  width: 6.25rem;
}
.section--points .points__items__item > p {
  flex: 1;
}
@media screen and (max-width: 991.98px) {
  .section--points {
    padding-bottom: 5rem;
  }
  .section--points .points__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.875rem;
  }
  .section--points .points__items__item {
    padding: 0;
  }
  .section--points .points__items__item img {
    width: 5rem;
  }
}
.section--plain-text {
  padding: 5.0625rem 0 3rem;
  background: #f2f2f2;
  font-size: 1.25rem;
}
.section--plain-text .container {
  padding-right: 6.625rem;
}
.section--plain-text .plain-text__item p:not(:last-child) {
  margin-bottom: 1.875rem;
}
.section--plain-text .plain-text__item:first-child {
  margin-bottom: 4.1875rem;
}
.section--plain-text .plain-text__item:last-child > p {
  margin-bottom: 1.25rem;
  font-size: 1.375rem;
}
.section--plain-text .plain-text__item ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-left: 1.25rem;
}
.section--plain-text .plain-text__item ul,
.section--plain-text .plain-text__item li {
  list-style-type: unset;
}
.section--plain-text .plain-text__item li::marker {
  font-size: 1.375rem;
  color: #00b922;
}
@media screen and (max-width: 991.98px) {
  .section--plain-text {
    padding: 3.875rem 0 2.5rem;
  }
  .section--plain-text .container {
    padding-right: 0;
  }
  .section--plain-text .plain-text__item p:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .section--plain-text .plain-text__item:first-child {
    margin-bottom: 2.8125rem;
  }
  .section--plain-text .plain-text__item:last-child > p {
    margin-bottom: 1.125rem;
    font-size: 1.125rem;
  }
  .section--plain-text .plain-text__item ul {
    gap: 1rem;
    padding-left: 1rem;
  }
}
.section--tabs {
  padding-top: 6.25rem;
}
.section--tabs .tabs__header {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  margin-bottom: 3.75rem;
}
.section--tabs .tabs__header h2 {
  font-size: 3.125rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}
.section--tabs .tabs__content {
  display: flex;
}
.section--tabs .tabs__content [role=tablist] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 26.25rem;
}
.section--tabs .tabs__content [role=tablist] button {
  all: unset;
  min-height: 4.5rem;
  padding: 0 1.375rem;
  background: #f2f2f2;
  border-radius: 4px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  cursor: pointer;
}
.section--tabs .tabs__content [role=tablist] button[aria-selected=true] {
  background: #fff;
  color: #262d3f;
  font-weight: 700;
}
.section--tabs .tabs__content [role=tabpanel] {
  flex: 1;
  flex-direction: column;
  gap: 1.875rem;
  padding: 2.1875rem 4.375rem 1.125rem 1.75rem;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(1, 1.1) translate(-5px, 20px);
  transform: scale(1, 1.1) translate(-5px, 20px);
}
.section--tabs .tabs__content [role=tabpanel] > * {
  -webkit-transform: scale(1, 0.9);
  transform: scale(1, 0.9);
}
.section--tabs .tabs__content [role=tabpanel] h3 {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1;
}
.section--tabs .tabs__content [role=tabpanel]:not([hidden]) {
  display: flex;
}
.section--tabs .tabs__content__text {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  line-height: 1.5;
}
.section--tabs .tabs__content__text h3 {
  margin-bottom: 2.375rem;
}
.section--tabs .tabs__content__text > p:not(:last-of-type) {
  margin-bottom: 0.9375rem;
}
.section--tabs .tabs__content__bottom {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-top: auto;
  color: #282828;
}
.section--tabs .tabs__content__bottom .button {
  padding: 1.5rem 1.375rem;
  font-size: 1.375rem;
}
.section--tabs .tabs__content__bottom > p {
  flex: 1;
  font-size: 1.25rem;
  opacity: 0.6;
}
@media screen and (max-width: 991.98px) {
  .section--tabs {
    padding-top: 3.75rem;
  }
  .section--tabs .tabs__header {
    gap: 2.8125rem;
    margin-bottom: 2.8125rem;
  }
  .section--tabs .tabs__header h2 {
    font-size: 2.8125rem;
  }
  .section--tabs .tabs__content {
    display: flex;
    flex-direction: column;
  }
  .section--tabs .tabs__content [role=tablist] {
    width: 100%;
  }
  .section--tabs .tabs__content [role=tablist] button {
    min-height: 4.25rem;
    padding: 0 1.25rem;
    font-size: 1.125rem;
  }
  .section--tabs .tabs__content [role=tabpanel] {
    gap: 1.25rem;
    padding: 1.875rem 3.5rem 1rem 1.5rem;
    -webkit-transform: none;
    transform: none;
  }
  .section--tabs .tabs__content [role=tabpanel] > * {
    -webkit-transform: none;
    transform: none;
  }
  .section--tabs .tabs__content [role=tabpanel] h3 {
    font-size: 1.375rem;
  }
  .section--tabs .tabs__content__text {
    font-size: 1.125rem;
  }
  .section--tabs .tabs__content__text h3 {
    margin-bottom: 1.875rem;
  }
  .section--tabs .tabs__content__text > p:not(:last-of-type) {
    margin-bottom: 0.625rem;
  }
  .section--tabs .tabs__content__bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .section--tabs .tabs__content__bottom .button {
    padding: 1.125rem 1.375rem;
    font-size: 1.125rem;
  }
  .section--tabs .tabs__content__bottom > p {
    font-size: 1.125rem;
  }
}
.section--orvi-text {
  padding: 6.5625rem 0 2rem;
  background: #f2f2f2;
}
.section--orvi-text .container {
  display: flex;
  gap: 4.375rem;
}
.section--orvi-text .orvi-text__title {
  flex: 1;
  display: flex;
}
.section--orvi-text .orvi-text__title h2 {
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 1.1;
}
.section--orvi-text .orvi-text__title picture {
  -webkit-transform: translateX(-48px) translateY(-38px) scale(1.3, 1);
  transform: translateX(-48px) translateY(-38px) scale(1.3, 1);
}
.section--orvi-text .orvi-text__text {
  flex: 0 1 52%;
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  padding-top: 0.625rem;
  font-size: 1.25rem;
}
@media screen and (max-width: 991.98px) {
  .section--orvi-text {
    padding-top: 3.875rem;
  }
  .section--orvi-text .container {
    flex-direction: column;
  }
  .section--orvi-text .orvi-text__title {
    position: relative;
  }
  .section--orvi-text .orvi-text__title h2 {
    position: relative;
    font-size: 2.8125rem;
    z-index: 1;
  }
  .section--orvi-text .orvi-text__title picture {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: none;
    transform: none;
  }
  .section--orvi-text .orvi-text__text {
    position: relative;
    flex: 1;
    padding-top: 0;
    font-size: 1.125rem;
    z-index: 1;
  }
}

.button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9375rem 1.125rem;
  border-radius: 15px;
  background: #00b922;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.button--secondary {
  padding: 1.125rem 1.375rem;
  background: transparent;
  border: 3px solid #2bacee;
  border-radius: 18px;
  color: #2bacee;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.4375rem;
  height: 1.75rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #bebebe;
  transition: 0.4s;
  border-radius: 100px;
  cursor: pointer;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  left: 4px;
  bottom: 4px;
  background-color: #00b922;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #00b922;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00b922;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #fff;
}