// Colors

$black: #282828;
$grey: #333;
$white: #fff;
$red: #e3483a;
$green: #00b922;
$greenDark: #0e4128;
$yellow: #c8ec1d;
$footer: #2e2e2e;
$blue: #2bacee;
$greyBg: #f2f2f2;

// Breakpoints
$smBreakpoint: 767.98px;
$mdBreakpoint: 991.98px;
