.button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: torem(15) torem(18);
  border-radius: 15px;
  background: $green;
  color: $white;
  font-size: torem(18);
  font-weight: 700;
  line-height: normal;
  cursor: pointer;

  &--secondary {
    padding: torem(18) torem(22);
    background: transparent;
    border: 3px solid $blue;
    border-radius: 18px;
    color: $blue;
  }
}
