.header {
  position: absolute;
  top: torem(14);
  left: 0;
  width: 100%;
  z-index: 10;

  @include md-breakpoint {
    top: 0;
    padding: torem(14) 0;
    background: rgba(11, 61, 37, 0.15);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: torem(10);
  }

  &__nav {
    &__menu {
      display: flex;
      align-items: center;
      gap: torem(24);

      li {
        a {
          font-size: torem(16);
          line-height: normal;
          color: $white;

          &.active {
            opacity: 0.5;
          }
        }
      }

      @include md-breakpoint {
        display: none;
      }
    }
  }

  &__burger {
    all: unset;
    display: none;
    flex-direction: column;
    gap: torem(3);
    width: torem(38);

    span {
      width: 100%;
      height: torem(6);
      border-radius: 2px;
      background: $green;
      transition: all 0.3s ease;
    }

    @include md-breakpoint {
      display: flex;
    }
  }

  &--active {
    position: relative;
    .header {
      &__burger {
        position: relative;
        z-index: 10;

        span {
          background: $white;

          &:first-child {
            transform-origin: 0 0;
            transform: translate(0%, 10%) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
            transform: translateX(100%);
          }

          &:last-child {
            transform-origin: 0 100%;
            transform: translate(0%, 120%) rotate(-45deg);
          }
        }
      }

      &__nav {
        &__menu {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          background: $green;
          padding: torem(100) torem(20);
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
