.header {
  position: absolute;
  top: torem(14);
  left: 0;
  width: 100%;
  z-index: 10;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: torem(10);
  }

  &__nav {
    &__menu {
      display: flex;
      align-items: center;
      gap: torem(24);

      li {
        a {
          font-size: torem(16);
          line-height: normal;
          color: $white;

          &.active {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
